#homeowners
{
  background-color: #e9e9e9;
  .box-shadow(inset 0 3px 5px rgba(0,0,0,.25));
  
  .container {
    position: relative;
  }
  
  h1 {
    font-size: 81px;
    line-height: 81px;
    margin: 120px 0 10px 0;
    padding: 0px;
  }
  
  h3 {
    color: @grayLight;
    font-size: 15px;
    margin: 0;
    padding: 0;
    line-height: auto;
    margin-bottom: 165px;
  }
  
  .person {
    width: 231px;
    height: 525px;
    position: absolute;
    top: 55px;
    right: 46px;
  }
  
  .features {
    height: 345px;
    background-image:url('../img/white-translucent.png');
    position:relative;
    z-index: 20;
    padding: 20px 0 0;
    
    .item {
      width: 222px;
      margin-left: 26px;
      float: left;

      .photo-wrapper {
        background-color: @white;
        border: solid 1px @grayLighter;
        .box-shadow(2px 3px 5px rgba(0,0,0,.25));
        padding: 9px 10px 5px 10px;

        img {
          border: solid 1px @grayLighter;
          width: 198px;
          height: 158px;
        }

      }

      h4 {
        color: @blueDark;
        font-size: 26px;
        margin: 16px 0 10px 5px;
        padding: 0;
        line-height: 26px;
      }

      p {
        font-size: 14px;
        line-height: 19px;
        margin: 0 0 0 5px;
        padding: 0;
        color: @black;
      }
    }

  }
  
}